.sm-btn {
    background-color: green;
    color: white; 
    }

.btn {
    @extend .sm-btn;
    letter-spacing: 3px; 
    a:hover {
        color: yellowgreen;
        font-weight: bolder;
    } 
}

.pregunta {
    width: 50%;  
}

