html, body {
    width: 100%;
    scroll-behavior: smooth;
    font-family: alata;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: $bg-color;
    color: $font-color;
    text-align: center;
}

// SCROLL PROGRESIVO
/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }

.carrusel {
    z-index: 1;
}

.logo {
    position: absolute;
    left: 45px;
    top: 10px;
}

h1{
    padding-top: 30px;
    font-family: chelseamarket;
    font-size: 35px;
}

.navbar {
    z-index: 2;
    width: 160px;
    height: 100%;
    box-shadow: 3px 10px 15px black;
    display: flex;
    flex-direction: column;
    ul li {
      font-size: 15px;
      font-weight: bolder;
      letter-spacing: 2px;
      list-style: none;
      padding-bottom: 30px;
      padding-top: 5px;
      align-items: center;
     }
}

div.options {
    right: 37px;
}

ul :hover {
    text-decoration: none;
    color: lime;
}

a {
    color: white;
    text-transform: uppercase;
}

h2 {
    font-family: chelseamarket;
    color: lime;
    font-size: 100px;
    .bg-dark {
        background-size: auto;
    }
 }

 .glow{
    text-shadow: lime 0 0 8px;
}

.__menu-1 {
    position: absolute;
    text-align: center;
    top: 0px;
    width: 130%;
    z-index: 1;
}

span {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 13px;
    font-size: 25px;
}

p.__bg-dark {
    width: 99%;
}

.table {
    width: 96%;
}

.checked {
    color: orange;
}

.gradiente {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    width: 100%;
}

// BARRAS DE CONCURRENCIA

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.bg-percent {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

div.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Adspand bottom padding */
  color: white; /* White text color */
}

div.año_3 {
    width: 90%; 
    background-color: rgb(58, 243, 58);
} /* Green */
div.año_2 {
    width: 80%; 
    background-color: rgb(19, 200, 255);
} /* Blue */
div.año_1 {
    width: 60%;
    background-color: rgb(250, 45, 171);
} /* Red */

footer{
     margin: 0;
     a:hover {
     text-decoration: none;
     color: black;
    }
}
    
cite {
    font-size: 13px;
}

// EN PAGOS.HTML

.medios_pago {
    max-width: 100%;
    margin: 30px;
}

// EN GRACIAS.HTML

.texto-especial {
    text-align: center;
    letter-spacing: 25px;
    font-weight: 900;
    font-size: 80px;
    height: 100%;
}

@media screen and (max-width: 576px) {

.logo {
     width: 50px;
     height: 50px;
     margin-top: $margin - 2px;
     left: 85%;
}

.navbar {
    width: 100%;
    height: 70px;
}
        
ul {
    display: flex;
}

li {
    font-size: 12px;
    padding: $padding;
}

h1 {
    padding-top: 0px;
    margin-right: 2px;
    position: absolute;
    left: 55%;
}

h2 {
    font-size: 45px;
    .prox {
        font-size:calc(100% - 12px);
    }    
}

a {
    color: black;
}

.carousel-inner {
  margin-top: 60px;
}

.carousel-item {
  margin-top: 60px;

}

.table {
    width: 80%;
}

p.texto-especial {
    letter-spacing: 10px;
    font-weight: 500;
    font-size: 20px;
}
}
